---
import Layout from "../layouts/Layout.astro";
import Year from "./Year.astro";
import type {GuideCourse} from "../pages/index.astro";

const {program, studyPlan} = Astro.props;
const years = Array.from({length: studyPlan.duration}, (_, i) => i + 1);
const guideCourses = Object.values(studyPlan.guideCourses) as GuideCourse[];
---

<Layout>
    <div class="flex flex-col gap-5">
        <h1 class="font-sketch text-2xl">{program.degree} {program.name}</h1>
        <div class="flex flex-row gap-8">
            {years.map((yr) => {
                const yearCourses = guideCourses.filter((c: GuideCourse) => c.year === yr);
                if (yearCourses.length === 0) return;
                return <Year
                        key={yr}
                        year={studyPlan.startAcademicYear + yr - 1}
                        yearCourses={yearCourses}
                        courseDetails={studyPlan.courses}
                />
            })}
        </div>
    </div>
</Layout>